@model SH_SHOP.Models.Category

@{
    ViewData["Title"] = "Detail";
}

<h1 class="text-center">Chi tiết</h1>
<div class="container">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Cập nhật thông tin</a> |
        <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
    </div>

</div>

